<% title "Web Accessibility - ADA Compliance" %>

<p>Kaffeinated Kodemonkey is commited to developing Accessibility Driven Websites. It is our goal to make sure that this Websites
is accessibile for all audience. Kaffeinated Kodemonkey is actively working towards achieving a fully accessibile that complies
with the World Wide Web Consortium (W3C) Web Content Accessibility Guidelines (WCAG) 2.0. We strive to meet level AA standards.</p>

<h2>How we build Accessibility Driven Website</h2>

<h3>Screen Resoution</h3>
<p>This web site is designed to respond to the size of your screen. Resize your browser to the size that best suits your needs.</p>

<h3>Text Contrast</h3>
<p>All text on this site has been created to have a contrast ratio over its background of over 4.5:1. This adheres to W3C Accessibility Guidelines 2.0 level AA.</p>

<h3>Images</h3>
<p>All content images on this site are provided with descriptive ALT attributes. Graphics that are purely decorative in function have empty ALT attributes, to prevent them from displaying on screen readers.</p>

<h3>Navigation</h3>
<p>All pages contain a link to the home page, sitemap and search box. The primary navigation has been built in a consistent fashion to provide clear navigation throughout the site. Secondary navigation is provided for way-finding through individual sections of the site.</p>

<h3>Links</h3>
<p>Links have been written to make sense out of context, title tags or spans of text only visible to screen readers have been used to expand on the meaning of short links.</p>

<h2>Tips on Accessibile Browsing this website</h2>

<h3>Skip to content</h3>
<p>For those of you using a screenreader or navigating without a mouse, you have the option to skip stright to the content by clicking "Skip to main content".

<h3>Magnigy the screen</h3>
<p>Many web browsers allow you to zoom in on web pages using simple keyboard controls. The magnifier allows you to focus on specific parts of the screen,
enlarging the text and other page elements.</p>

<ul>
  <li>For Windows operating systems, press Ctrl and + to zoom in on a web page (Ctrl and – to zoom out)</li>
  <li>For Mac operating systems, press Cmd and + to zoom in on a Web page (Cmd and – to zoom out)</li>
</ul>

<h3>Customize the mouse pointer</h3>
<p>You can customize a computer mouse pointer in several ways. For example, you can slow down the speed of the mouse pointer for easier handling. You can also change
its appearance so that it contrasts more with the screen content.</p>

<p>Learn how to change mouse settings for Windows operating systems:</p>
<ul>
  <li><a href="https://support.microsoft.com/en-us/help/14203/windows-7-make-mouse-easier-to-use" target="_blank">Windows 7 & Vista Mouse Settings</a></li>
  <li><a href="http://windows.microsoft.com/en-CA/windows-xp/help/change-mouse-settings" target="_blank">Windows XP Mouse settings</a></li>
</ul>

<p>Learn how to change mouse settings for Mac operating systems:</p>
<ul>
  <li><a href="http://www.bbc.co.uk/accessibility/guides/mouse_easier/slowing/mac/os_x/" target="_blank">Control Your Mouse Speed</a></li>
  <li><a href="https://www.nhs.uk/accessibilityhelp/Making-your-mouse-pointer-larger-in-Mac-OSX.html" target="_blank">Change Your Mouse Pointer</a></li>
</ul>

<h3>Further Assistance</h3>
<p>If you have further questions or feedback relating to this website, please use our email form to <a href="mailto:info@kaffeinatedkodemonkey.com?ROAR-ADA">Contact Us</a></p>

<h3>References</h3>
<ul>
  <li><a href="https://www.section508.gov/blog/do-section-508-accessibility-standards-apply-to-mywebsite" target="_blank">Do Section 508 Accessibility Standards Apply to My Website</a></li>
  <li><a href="https://www.w3.org/WAI/intro/wcag.php" target="_blank">Web Content Accessibile Guidelines (WCAG) Overview</a></li>
</ul>
