
<div class="site">
    <!-- Options headline effects: .rotate | .slide | .zoom | .push | .clip -->
    <section class="hero-section hero-section--video clearfix rotate">
        <div class="hero-section__wrap">
            <div class="hero-section__option">
                <!-- <div data-video="youtube" class="player" data-property="{videoURL:'https://youtu.be/7gb4Nxly5oM?autoplay=1',containment:'body',autoPlay:true, mute:false, startAt:0, opacity:10}">Video Youtube</div> -->
                <!-- <div data-video="vimeo" class="player" data-property="{videoURL:'https://vimeo.com/90969239',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1}">Video Vimeo</div> -->

                <div style="position:relative;padding-top:56.25%;">
                  <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/7gb4Nxly5oM?rel=0&amp;controls=1&amp;showinfo=0&autoplay=1&loop=1&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <!-- .hero-section__option -->

            <div class="container">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8">
                        <div class="title-01 title-01--11 text-center">
                            <h2 class="title__heading">Rangely OHV Adventure Rally</h2>
                            <div class="title__description"></div>

                            <!-- Options btn color: .btn-success | .btn-info | .btn-warning | .btn-danger | .btn-primary -->
                            <div class="title__action" <% if $roar_closed < $date %>hidden<% end %> ><%= link_to "Register Now for ROAR 2019", riders_url, :class => "btn btn-lg btn-info", :target => "_blank" %><p hidden>Register Now ROAR

<%= Time.current.year %></div>
                        </div>
                        <!-- .title-01 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- .hero-section__wrap -->
    </section>
    <!-- .hero-section -->
</div>
