
<%= title "Checkout" %>

<div class="row">
  <div class="col">
    <div id="sq-ccbox">
      <!--
        You should replace the action attribute of the form with the path of
        the URL you want to POST the nonce to (for example, "/process-card")
      -->

      <form id="nonce-form" novalidate action="path/to/payment/processing/page" method="post">
        <div class="form-group row">
          <label for="sq-card-number" class="col-sm-5 col-form-label">Card Number:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="sq-card-number" placeholder="Card Number">
          </div>
        </div>
        <div class="form-group row">
          <label for="sq-cvv" class="col-sm-5 col-form-label">CVV:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="sq-cvv" placeholder="CVV">
          </div>
        </div>
        <div class="form-group row">
          <label for="sq-expiration-date" class="col-sm-5 col-form-label">Expiration Date:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="sq-expiration-date" placeholder="Expiration Date">
          </div>
        </div>
        <div class="form-group row">
          <label for="sq-postal-code" class="col-sm-5 col-form-label">Postal Code:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="sq-postal-code" placeholder="Postal Code">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button id="sq-creditcard" class="btn btn-md btn-primary" onclick="requestCardNonce(event)">
              Pay with card
            </button>
          </div>
        </div>

      </form>
