<% title "Registration Conformation" %>


<!-- <p>tenders: <% @trans %></p> -->

<h3>Welcome to our annual ROA Event.</h3>

<p>We Look forward to seeing on the trails soon and sharing our memories with you.</p>

<p>Your <strong>order #: <%= @refid %></strong>, please retain a copy of it for your recoreds.</p>

<h4>Total amount paid in full: <%= number_to_currency(@amount) %>.</h4>
