<% title "Canyon Pintado Hillclimb" %>


<h3 class="pt-5 text-center">Creating 2018 Memories</h3>

<h4 class="pt-3 text-center">We are adding a new event for 2018.</h4>
<h4 class="pt-3 text-center">Check back in Oct 2018 for images of this years first Hillclimb.</h4>

<!-- <div class="row">
  <% @images.each_slice(3) do |slice| %>
    <% slice.each do |pic| %>
      <div class="col-sm-4 p-3">
        <%= image_tag(pic, :class => "img-fluid img-thumbnail")  %>
      </div>
    <% end %>
  <% end %>
</div> -->
