<% title "Vendor Registration" %>

<h2 class="text-center">Rangely OHV Adventure Rally May 3rd - 5th, 2019</br>
Sponsor & Vendor Package</h2>
<p>&nbsp;</p>

<p>Be a vendor at the OHV EXPO! The expo will be held during the event at the Rangely Automotive Museum, basecamp for the Rally.
The Expo is open for registered riders and the public.</p>

<p><strong>Logos must be turned in by March 20, 2019 to be included in the Trail Book and on the t-shirt.</strong></p>

<p>Pricing is for inside or outside. Inside space is a first request basis.</p>

<h3><span class="text-uppercase">Vendor Levels</h3>
<ul>
  <li>Level 1: $75, 10’ x 10’ space, 1/8 page ad in Trail Guide Booklet, one event t-shirt</li>
  <li>Level 2: $200, 15’ x 20’ space, 1/4 page ad in Trail Guide Booklet, one event t-shirt</li>
  <li>Level 3: $300, 15’ x 20’ space, 1/2 page ad in Trail Guide Booklet, one event t-shirt</li>
  <li>Level 4: $500, 15’ x 20’ space, 1/2 page ad in Trail Guide Booklet, trail sponsorship, four rider registrations</li>
</ul>

<p>Contact us for semi-truck or custom size space requirements. </p>
<p>Vendor payments may be all cash or equivalent product donation</p>

<h4>Every vendor level will include:</h4>

<ul>
  <li>Business logo and link on website, logo on posters, Trail Guide Booklet and t-shirts. See due dates for logos below</li>
</ul>

<h4>Vendor Level 2-4 will include:</h4>
<ul>
  <li>One buggy registration/two (2) riders and all otehr buggies/two (2) riders get a discount rate of $50</li>
  <li>Two (2) event T-Shirts</li>
</ul>

<h3><span class="text-uppercase">Sponsor Levels</h3>
<small>(for businesses not attending as a vendor)</small>

<ul>
  <li><strong>Black Diamond:</strong> Up to $1000 or more monetary or donated product value</li>
  <li><strong>Blue Mountain:</strong> $500 or more monetary or donated product value</li>
  <li><strong>Green Turbo:</strong> $499 or less monetary or donated product value</li>
  <li><strong>Feathered Flag:</strong> $250 (Flag will be placed outside sponsoring business during the week of the event)</li>
</ul>

<p>Sponsor levels include business logo and link on website, logo on posters, Trail Guide booklet and t-shirts.</p>
<p>Donated product values are based on retail, donated product will be raffled off at the event.</p>

<p>Download a PDF copy of the <strong><a href="https://docs.google.com/document/d/1nj6GdI-8mnKFPxPv9J_J9bgCeWfq03j0qm-qiYPzyA8/edit?usp=sharing">Vendor Registration form</a></strong> and email, fax to Rangely Chambers.</p>
