<% title "Rider Registration" %>

  <h2 class="text-center">Join us in Rangely Colorado  <br /> <%= Time.current.year+1 %> Rangely OHV Adventure Rally.</h2>
  <p>&nbsp;</p>

  <p>Registration is now
  <% if @date == @roar_closed  %>
    closed. You must register at the event.
  <% else %>
    open online through May 1st, after that you may register at the event.
  <% end %>
  </p>

  <p>Registration includes an event t-shirt, guided rides (optional), breakfast on Friday and Saturday, dinner on Friday and all events listed
  in the schedule, unless noted. Sack lunches for Friday and Saturday can be ordered on the registration form at an additional charge.</p>

  <div class="row bg-light p-2">
    <div class="col">
      <p><strong>Register Early:</strong></p>
      <ul>
        <li>Each buggy is $65</li>
        <li>Includes one t-shirt and a goody bag</li>
      </ul>
    </div>
    <div class="col">
      <p><strong>After April 25th:</strong></p>
      <ul>
        <li>Each buggy is $70</li>
        <li>Includes one t-shirt and a goody bag <span class="text-danger text-small">*</span></li>
      </ul>
      <span class="text-danger">* T-Shirt is not guaranteed. Based on availablity</span>
    </div>
  </div>

  <p>&nbsp;</p>

<% if @date == @roar_closed  %>
  <h3 class="text-center">Online Registration is now Closed. You may still register at the event.</h3>
<% else %>
  <p>Please read and agree to the <strong><%= link_to "Rules & Regulation", rules_regs_url, :title => "Must read Ruls & Regulations" %></strong>
  as-well-as the consent/waiver below. By Clicking the checkbox at bottom of page and registering you are confirming that you have read and agree to
  the Rules & Regulation and the Consent/Waiver.</p>


  <h3><span class="text-uppercase">Consent/Waiver</span></h3>
  <p><span class="text-uppercase">Waiver of liability and indemnity agreement</p>
  <p><span class="text-uppercase">Rangely area chamber of commerce release and Waiver of liability and indemnity agreemet in consideration</span>
  for being permitted to participate in the Rangely area chamber of commerce</p>

  <p><span class="text-uppercase">The undersigned participants:</span></p>
  <ol>
    <li><span class="text-uppercase">Hereby release, waive, discharge and covenant not to sue</span> the Rangely Area Chamber of Commerce, their officers,
    employees, any of the surrounding towns or cities, the State of Colorado, or volunteering assistants. All for the purpose herein referred to as "releases"
    from all liability to the undersigned, their personal representatives, assigns, heirs and next of kin for any and all loss or damage, and any claim or
    demands therefore on account of injury to the person or property or resulting in death of the undersigned, whether caused by the negligence of the releases
    or otherwise while the undersigned is participating in event.</li>
    <li><span class="text-uppercase">Hereby agree to indemnify and save and hold harmless</span> the releases and each of them from any loss, liability, damage,
    or cost(including attorney's fees)they may incur due to the presence of the undersigned participating in the event and whether caused by the negligence of
    the releases or otherwise.</li>
    <li><span class="text-uppercase">The undersigned Participants</span> agree that while participating in the event, the use of alcohol or any substance
    which affects the ability to operate or control his or her vehicle may be considered as hazardous to the health and safety of participants and spectators
    is strictly forbidden.</li>
    <li><span class="text-uppercase">The undersigned agrees</span> that he or she will not use or operate any vehicle in violation or contravention of any
    city, county, state or federal laws, statuaries, ordinances or regulation and shall be personally liable for all fines and penalties for such
    violations. Proper safety gear is required for all models of transportation.</li>
    <li>Hereby assumes full responsibility for and risk of bodily injury, death, or property damage due to the negligence of releases or otherwise while
    participation in the event.</li>
  </ol>

  <p><span class="text-uppercase">Each of the undersigned</span> expressly acknowledges and agrees that the following release, waiver, and indemnity
  agreement is intended to be as broad and inclusive as is permitted by law of the state in which it is operated in and that if any portion thereof
  is held invalid, it is agreed that the balance shall, notwithstanding, continue in full legal force and effect.</p>

  <p><span class="text-uppercase">The undersigned has read and voluntarily signs the release and waiver of Liability and indemnity agreement</span>,and
  further agrees that no oral representation, statement or inducements apart from the foregoing written agreement have been made.</p>

  <p>I understand and accept that in the course of my attendance at the participation in the "Rangely OHV Adventure Rally" fil/photographs and/or illustration
  may be used in any medium by the Rangely Area Chamber of Commerce  and all its related entities and agencies for advertising and promotional
  purposes in any medium, without compensation to me.</p>

  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="rider_RRCW" value="yes">
    <label class="custom-control-label" for="rider_RRCW">By checking this box I agree and consent/waiver and comfirming I have read the Rules & Regulations</label>
  </div>
  <p>&nbsp;</p>
  <%= link_to "Next", new_rider_path, {class: "btn btn-md btn-primary disabled", id:"btnSubmit"} %>
<% end %>
