
<% title "Rider Registration" %>

<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-9 offset-sm-1">
        <!-- driver & passengers -->
        <h2>Select Riders</h2>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <td>
                <p>Click to add driver:</p>
              </td>
              <td>
                <button
                  class="snipcart-add-item"
                  data-item-id="driver"
                  data-item-name="Driver"
                  data-item-price="70.00"
                  data-item-url="https://boiling-spire-21101.herokuapp.com/riders/new/riders/new"
                  data-item-description="OHV Driver"
                  data-item-custom2-options="Driver"
                  data-item-custom2-value="Driver"
                  data-item-max-quantity="1"
                  data-item-min-quantity="1">
                  Add Driver
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p>Click to add Passengers:</p>
              </td>
              <td>
                <button
                    class="snipcart-add-item"
                    data-item-id="passengers"
                    data-item-name="Passengers"
                    data-item-price="70.00"
                    data-item-min-quantity="0"
                    data-item-max-quantity="3"
                    data-item-url="/
                    data-item-description="Add up to three (3) passengers"
                    data-item-custom2-options="Passengers"
                    data-item-custom2-value="Passengers">
                    Add Passengers
                </button>
              </td>
            </tr>
          </table>
        </div>

        <!-- Lunch -->
        <h2>Select Lunches:</h2>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <td>
                <p>Click to add lunch:</p>
              </td>
              <td>
                <button
                    class="snipcart-add-item"
                    data-item-id="lunch"
                    data-item-name="Riders Lunches"
                    data-item-price="8.00"
                    data-item-min-quantity="0"
                    data-item-max-quantity="4"
                    data-item-url="https://boiling-spire-21101.herokuapp.com/riders/new/riders/new"
                    data-item-description="Riders Lunches"
                    data-item-custom2-options="Ham|Turkey"
                    data-item-custom2-value="lunch">
                    Add Lunch
                </button>
              </td>
            </tr>
          </table>
        </div>

        <!-- Lunch -->
        <h2>Select T-Shirts:</h2>
        <p><span class="text-danger text-uppercase"><em>Free T-Shirt</em></span> for resitered riders. Additional T-Shirts can be purchesed at check-in.</p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <td>
                <p>Click to add T-Shirt:</p>
              </td>
              <td>
                <button
                    class="snipcart-add-item"
                    data-item-id="tshirt"
                    data-item-name="T-Shirts"
                    data-item-price="0.00"
                    data-item-min-quantity="0"
                    data-item-max-quantity="4"
                    data-item-url="https://boiling-spire-21101.herokuapp.com/riders/new/riders/new"
                    data-item-description="Rider T-Shirts"
                    data-item-custom2-options="X-Small|Small|Medium|Large|X-Large"
                    data-item-custom2-value="tshirt">
                    Add T-Shirt
                </button>
              </td>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="snipcart-summary">
        <a href="#" class="snipcart-user-email snipcart-user-profile">Customer dashboard</a> | <a href="#" class="snipcart-checkout">Checkout</a>
    </div>
    <hr />
    <div>
      <h2>Cart Summery</h2>
    </div>
    <hr />
    <div class="snipcart-summary">
        <p>Number of items: <span class="snipcart-total-items"></span></p>
        <p>Total price: <span class="snipcart-total-price"></span></p>
    </div>
    <hr />
  </div>
</div>
