

    <% title "Rider Registration" %>
    <div class="row">
      <div class="col pb-5">
        <p>Thank you for joining us in Rangely Colorado May 3 - 5 for the <%= Time.current.year %> Rangely OHV Adventure Rally.</p>
        <p>Click the items below to register your buggy for the event. Upon checkout you will be asked for additional information.</p>
        <p><em><strong>If you are having trouble with the Registration form contact <%= link_to "Rangely Chambers", contact_index_url%></em></strong></p>
      </div>
    </div>



<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-9 offset-sm-1">

        <!-- driver & passengers -->
        <h2>Register Buggies</h2>
        <div class="table-responsive">
          <!-- Table Buggy One -->
          <table class="table table-bordered">
            <tr>
              <td rowspan="4" class="align-middle">
                <p>Register Buggies:</p>
              </td>
              <td>
                <!-- Driver one -->
                <button
                  class="snipcart-add-item"
                  data-item-id="buggy-driver"
                  data-item-name="Buggy - Driver"
                  data-item-price="<% if $date <= $roar_early_reg %> 65.00 <% else %> 70 <% end %>"
                  data-item-max-quantity="4"
                  data-item-min-quantity="1"
                  data-item-url="https://roartesting.herokuapp.com/riders/new"
                  data-item-description="Register Driver"

                  data-item-custom2-name="Driver First & Last Name"
                  data-item-custom2-required="true"

                  data-item-custom3-name="Driver Street Address"
                  data-item-custom3-required="true"

                  data-item-custom4-name="Driver City"
                  data-item-custom4-required="true"

                  data-item-custom5-name="Driver State"
                  data-item-custom5-required="true"

                  data-item-custom6-name="Driver Zip Code"
                  data-item-custom6-required="true"

                  data-item-custom7-name="Driver Phone Number"
                  data-item-custom7-required="true"

                  data-item-custom8-name="Driver Email Address"
                  data-item-custom8-required="true"

                  data-item-custom9-name="Cell Phone Number while you are at the event"
                  data-item-custom9-required="true"

                  data-item-custom10-name="Emergency Contact Phone Number"
                  data-item-custom10-required="true"

                  data-item-custom11-name="Driver Experience Level"
                  data-item-custom11-options="Select|Beginner|Intermediate|Advanced"
                  date-item-custom11-value="Select"
                  data-item-custom11-required="true"

                  data-item-custom12-lable="Check Date you are ridding:"

                  data-item-custom13-name="Thrusday May 3rd"
                  data-item-custom13-options="true|false"

                  data-item-custom14-name="Friday May 4th"
                  data-item-custom14-options="true|false"

                  data-item-custom15-name="Saturday May 5th"
                  data-item-custom15-options="true|false"

                  data-item-custom16-name="Driver T-shirt size"
                  data-item-custom16-options="Select|Small|Medium|Large|X-Large|XX-Large|XXX-Large"
                  date-item-custom16-value="Select"

                  data-item-stackable="false">

                  Add A Buggy
                </button>
              </td>
            </tr>
          </table>

          <!-- Table Buggy Two -->
    <!--      <table class="table table-bordered">
            <tr>
              <td rowspan="4" class="align-middle">
                <p>Register Buggy Two (2):</p>
              </td>
              <td>
                <!-- Driver one -->
    <!--            <button
                  class="snipcart-add-item"
                  data-item-id="b2d"
                  data-item-name="Buggy Two"
                  data-item-price="<% if $date <= $roar_early_reg %> 65.00 <% else %> 70 <% end %>"
                  data-item-max-quantity="1"
                  data-item-min-quantity="1"
                  data-item-url="https://roartesting.herokuapp.com/riders/new"
                  data-item-description="Register Driver"

                  data-item-custom2-name="Driver First & Last Name"
                  data-item-custom2-required="true"

                  data-item-custom3-name="Driver Street Address"
                  data-item-custom3-required="true"

                  data-item-custom4-name="Driver City"
                  data-item-custom4-required="true"

                  data-item-custom5-name="Driver State"
                  data-item-custom5-required="true"

                  data-item-custom6-name="Driver Zip Code"
                  data-item-custom6-required="true"

                  data-item-custom7-name="Driver Phone Number"
                  data-item-custom7-required="true"

                  data-item-custom8-name="Driver Email Address"
                  data-item-custom8-required="true"

                  data-item-custom9-name="Cell Phone Number while you are at the event"
                  data-item-custom9-required="true"

                  data-item-custom10-name="Emergency Contact Phone Number"
                  data-item-custom10-required="true"

                  data-item-custom11-name="Driver Experience Level"
                  data-item-custom11-options="Select|Beginner|Intermediate|Advanced"
                  date-item-custom11-value="Select"
                  data-item-custom11-required="true"

                  data-item-custom12-name="Select Days you will be riding"
                  data-item-custom12-options="Select|Friday, May 3|Saturday, May 4|Sunday, May 5"
                  data-item-custom12-value="Select"
                  data-item-custom12-required="true"

                  data-item-custom13-name="Driver T-shirt size"
                  data-item-custom13-options="Select|Small|Medium|Large|X-Large|XX-Large|XXX-Large"
                  date-item-custom13-value="Select">
                  Add Buggy Two
                </button>
              </td>
            </tr>
          </table>

          <!-- Table Buggy Three -->
  <!--        <table class="table table-bordered">
            <tr>
              <td rowspan="4" class="align-middle">
                <p>Register Buggy Three (3):</p>
              </td>
              <td>
                <!-- Driver Three -->
  <!--              <button
                  class="snipcart-add-item"
                  data-item-id="b3d"
                  data-item-name="Buggy Three"
                  data-item-price="<% if $date <= $roar_early_reg %> 65.00 <% else %> 70 <% end %>"
                  data-item-max-quantity="1"
                  data-item-min-quantity="1"
                  data-item-url="https://roartesting.herokuapp.com/riders/new"
                  data-item-description="Register Driver"

                  data-item-custom2-name="Driver First & Last Name"
                  data-item-custom2-required="true"

                  data-item-custom3-name="Driver Street Address"
                  data-item-custom3-required="true"

                  data-item-custom4-name="Driver City"
                  data-item-custom4-required="true"

                  data-item-custom5-name="Driver State"
                  data-item-custom5-required="true"

                  data-item-custom6-name="Driver Zip Code"
                  data-item-custom6-required="true"

                  data-item-custom7-name="Driver Phone Number"
                  data-item-custom7-required="true"

                  data-item-custom8-name="Driver Email Address"
                  data-item-custom8-required="true"

                  data-item-custom9-name="Cell Phone Number while you are at the event"
                  data-item-custom9-required="true"

                  data-item-custom10-name="Emergency Contact Phone Number"
                  data-item-custom10-required="true"

                  data-item-custom11-name="Driver Experience Level"
                  data-item-custom11-options="Select|Beginner|Intermediate|Advanced"
                  date-item-custom11-value="Select"
                  data-item-custom11-required="true"

                  data-item-custom12-name="Select Days you will be riding"
                  data-item-custom12-options="Select|Friday, May 3|Saturday, May 4|Sunday, May 5"
                  data-item-custom12-value="Select"
                  data-item-custom12-required="true"

                  data-item-custom13-name="Driver T-shirt size"
                  data-item-custom13-options="Select|Small|Medium|Large|X-Large|XX-Large|XXX-Large"
                  date-item-custom13-value="Select">
                  Add Buggy Three
                </button>
              </td>
            </tr>
          </table>

          <!-- Table Buggy Four -->
  <!--        <table class="table table-bordered">
            <tr>
              <td rowspan="4" class="align-middle">
                <p>Register Buggy Four (4):</p>
              </td>
              <td>
                <!-- Driver Three -->
  <!--              <button
                  class="snipcart-add-item"
                  data-item-id="b4d"
                  data-item-name="Buggy Four"
                  data-item-price="<% if $date <= $roar_early_reg %> 65.00 <% else %> 70 <% end %>"
                  data-item-max-quantity="1"
                  data-item-min-quantity="1"
                  data-item-url="https://roartesting.herokuapp.com/riders/new"
                  data-item-description="Register Driver"

                  data-item-custom2-name="Driver First & Last Name"
                  data-item-custom2-required="true"

                  data-item-custom3-name="Driver Street Address"
                  data-item-custom3-required="true"

                  data-item-custom4-name="Driver City"
                  data-item-custom4-required="true"

                  data-item-custom5-name="Driver State"
                  data-item-custom5-required="true"

                  data-item-custom6-name="Driver Zip Code"
                  data-item-custom6-required="true"

                  data-item-custom7-name="Driver Phone Number"
                  data-item-custom7-required="true"

                  data-item-custom8-name="Driver Email Address"
                  data-item-custom8-required="true"

                  data-item-custom9-name="Cell Phone Number while you are at the event"
                  data-item-custom9-required="true"

                  data-item-custom10-name="Emergency Contact Phone Number"
                  data-item-custom10-required="true"

                  data-item-custom11-name="Driver Experience Level"
                  data-item-custom11-options="Select|Beginner|Intermediate|Advanced"
                  date-item-custom11-value="Select"
                  data-item-custom11-required="true"

                  data-item-custom12-name="Select Days you will be riding"
                  data-item-custom12-options="Select|Friday, May 3|Saturday, May 4|Sunday, May 5"
                  data-item-custom12-value="Select"
                  data-item-custom12-required="true"

                  data-item-custom13-name="Driver T-shirt size"
                  data-item-custom13-options="Select|Small|Medium|Large|X-Large|XX-Large|XXX-Large"
                  date-item-custom13-value="Select">
                  Add Buggy Four
                </button>
              </td>
            </tr> -->
          </table>
        </div>

        <!-- Lunch -->
        <h2>Optional Lunches:</h2>
        <p class="text-info"><span class="text-uppercase">To Go lunch orders for Friday & Saturday</apsn> (optional)</p>
        <p>To-Go Lunches are available for order. Options for both days include a Ham or Turkey sandwich. Both options come with chips, fruit,
        dessert and a soda.</p>

        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <td>
                <p>Friday Lunch - Ham:</p>
              </td>
              <td>
                <button
                    class="snipcart-add-item"
                    data-item-id="friday-lunch-ham"
                    data-item-name="Friday Lunch - Ham: $8.00"
                    data-item-price="8.00"
                    data-item-min-quantity="0"
                    data-item-max-quantity="4"
                    data-item-url="https://roartesting.herokuapp.com/riders/new"
                    data-item-description="Includes: chips, fruit, dessert & soda">
                    Add Lunch Friday-Ham
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p>Friday Lunch - Turkey:</p>
              </td>
              <td>
                <button
                    class="snipcart-add-item"
                    data-item-id="friday-lunch-turkey"
                    data-item-name="Friday Lunch - Turkey: $8.00"
                    data-item-price="8.00"
                    data-item-min-quantity="0"
                    data-item-max-quantity="4"
                    data-item-url="https://roartesting.herokuapp.com/riders/new"
                    data-item-description="Includes: chips, fruit, dessert & soda">
                    Add Lunch Friday-Turkey
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p>Saturday Lunch - Ham:</p>
              </td>
              <td>
                <button
                    class="snipcart-add-item"
                    data-item-id="saturday-lunch-ham"
                    data-item-name="Saturday Lunch - Ham: $8.00"
                    data-item-price="8.00"
                    data-item-min-quantity="0"
                    data-item-max-quantity="4"
                    data-item-url="https://roartesting.herokuapp.com/riders/new"
                    data-item-description="Includes: chips, fruit, dessert & soda">
                    Add Lunch Saturday-Ham
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p>Saturday Lunch - Turkey:</p>
              </td>
              <td>
                <button
                    class="snipcart-add-item"
                    data-item-id="saturday-lunch-turkey"
                    data-item-name="Saturday Lunch - Turkey: $8.00"
                    data-item-price="8.00"
                    data-item-min-quantity="0"
                    data-item-max-quantity="4"
                    data-item-url="https://roartesting.herokuapp.com/riders/new"
                    data-item-description="Includes: chips, fruit, dessert & soda">
                    Add Lunch Saturday-Turkey
                </button>
              </td>
            </tr>
          </table>
        </div>

        <!-- T-Shirts -->
        <h2>Additional T-Shirts:</h2>
        <p>T-Shirts cost $12 per rider. After April 25 base on availablity.</p>
        <p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <td>
                <p>Additional T-shires:
              <td>
                <button
                    class="snipcart-add-item"
                    data-item-id="t-shirt"
                    data-item-name="T-Shirts:  $12.00"
                    data-item-price="12.00"
                    data-item-min-quantity="0"
                    data-item-max-quantity="4"
                    data-item-url="https://roartesting.herokuapp.com/riders/new"
                    data-item-description="After April 25th, t-shirt order is not guaranteed."

                    data-item-custom5-name="Select T-shirt size"
                    data-item-custom5-options="Select|Small|Medium|Large|X-Large|XX-Large|XXX-Large"
                    date-item-custom5-value="Select">
                    Add Additional T-Shits
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div>
      <h2>Cart Summery</h2>
    </div>
    <hr />
    <div class="snipcart-summary">
        <!-- <p>Number of items: <span class="snipcart-total-items"></span></p> -->
        <h3 class="text-info">Total price: <span class="snipcart-total-price"></span></h3>
        <h3><a href="#" class="snipcart-checkout"><%= image_tag("checkout.png", :alt => "Checkout", :class => "img-fluid") %> Checkout</a></h3>
    </div>
  </div>
</div>
