<footer class="footer">
  <div class="container-fluid pt-3">
    <%= link_to(image_tag("ADA-verification.png", :alt => "Kaffeinated Kodemonkey", :class => "img-fluid"), adacompliance_page_url, :target => "_blank") %>
  <small> &#169; 2018 This website is an Accessibility Driven Designed by <%= link_to "Kaffeinated Kodemonkey", "http://www.kaffeinatedkodemonkey.com/", :target =>"_blank" %>
  and maintained by the Rangely OHV Club | <%= link_to "Web Accessibile A.D.A Compliant & VPAT Certified", adacompliance_page_url %> - <%= link_to "Rules & Regulations", rules_regs_url %>
  </div>
</footer>
