<div class="row">
  <div class="col-sm-11 offset-sm-1">
    <strong>Rangely Chamber</strong><br />
    255 E Main St Suite A<br />
    Rangley, Co, 81648<br />
    <abbr title="Phone">P:</abbr> (970) 675-5290
  </div>
</div>
