<h3>Sponsors</h3>
<!-- Ridgeline -->

<p><%= image_tag("Sponsors/Ridgeline-Motorsports/IMG_4917.jpg", :alt => "Ridgeline", :class => "img-fluid img-thumbnail") %></p>
<p><%= image_tag("Sponsors/Ridgeline-Motorsports/Logo.gif", :alt => "Ridgeline - Logo", :class => "img-fluid img-thumbnail") %></p>
